name: Tests

on:
  pull_request:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest, ubuntu-24.04-arm]
        node-version: [22.x, 23.x, 24.x]

    name: Node ${{ matrix.node-version }} - ${{ matrix.os }}

    permissions:
      actions: write # Required for canceling previous workflow runs
      contents: read

    steps:
    - name: Cancel Previous Runs
      uses: styfle/cancel-workflow-action@3155a141048f8f89c06b4cdae32e7853e97536bc # 0.13.0
      if: ${{ github.event_name != 'pull_request' || github.event.pull_request.head.repo.id == github.event.pull_request.base.repo.id }}
      with:
        access_token: ${{ github.token }}

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: npm

    - run: npm ci
    - run: npm run lint
    - run: npm run jison
    - name: Check unchanged parser
      shell: bash
      run: |
        git status
        exit $(git status --porcelain=v1 2>/dev/null | grep -c lib/tldr-parser.js)
    - run: npm run test
      env:
        FORCE_COLOR: true

  build-image:
      runs-on: ubuntu-latest
      needs: build
      permissions:
        contents: read

      steps:
        - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

        - name: Build the Docker image
          uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
          with:
            context: .
            file: Dockerfile
            push: false
            tags: tldr-lint:latest
            cache-from: type=gha
            cache-to: type=gha,mode=max
            platforms: linux/amd64
